# 依赖包 (体积大，不需要上传)
node_modules/

# 环境变量 (🔥 绝对不能上传，包含密码！)
.env
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# 编译输出目录
dist/

# 系统生成的垃圾文件
.DS_Store
Thumbs.db

# 日志文件
*.log
npm-debug.log*